.info-container {
  max-width: 350px;
}

.info-title {
  font-size: 26px;
  font-weight: bold;
  color: #1F3A35;
  margin-top: 32px;
}

.info-text {
  font-size: 16px;
  color: #1F3A35;
  margin-top: 28px;
}