html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	vertical-align: baseline;
}

.headerprincipal {
	height: 476px;
}

	.menunav {
		height: 70px;
		margin-left: 30px;
	}


		.logo {
			width: 174px;
			height: 70px;
			margin-top: -446px;
		}

		.menu {
			margin-left: 584px;
			margin-top: -55px;
		}

		.buttonhome {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			letter-spacing: 1px;
			width: 76px;
			height: 39px;
			color: white;
			background: none;
			background-color: none;
			border: none;
			cursor: pointer;
		}

		.buttonhome:hover {
			background-color: none;
			border-radius: 5px;
			border: 1px solid #ffffff;
		}

		.buttonservices {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			letter-spacing: 1px;
			width: 197px;
			height: 39px;
			color: white;
			background: none;
			background-color: none;
			border: none;
			cursor: pointer;
			margin-left: 10px;
		}

		.buttonservices:hover {
			background-color: none;
			border-radius: 5px;
			border: 1px solid #ffffff;
		}

		.buttonportfolio {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			letter-spacing: 1px;
			width: 118px;
			height: 39px;
			color: white;
			background: none;
			background-color: none;
			border: none;
			cursor: pointer;
			margin-left: 10px;
		}

		.buttonportfolio:hover {
			background-color: none;
			border-radius: 5px;
			border: 1px solid #ffffff;
		}

		.buttonabout {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			letter-spacing: 1px;
			width: 160px;
			height: 39px;
			color: white;
			background: none;
			background-color: none;
			border: none;
			cursor: pointer;
			margin-left: 10px;
		}

		.buttonabout:hover {
			background-color: none;
			border-radius: 5px;
			border: 1px solid #ffffff;
		}

		.buttoncontact {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			letter-spacing: 1px;
			width: 115px;
			height: 39px;
			color: white;
			background: none;
			background-color: none;
			border: none;
			cursor: pointer;
			margin-left: 10px;
		}

		.buttoncontact:hover {
			background-color: none;
			border-radius: 5px;
			border: 1px solid #ffffff;
		}

		.buttones {
			font-size: 14px;
			height: 39px;
			color: white;
			background: none;
			border: none;
			cursor: pointer;
			margin-left: 740px;
			margin-top: -31px;
		}

		.buttones:hover {
			font-weight: bold;
		}

		.buttonen {
			font-size: 14px;
			font-weight: 500;
			height: 39px;
			color: white;
			background: none;
			border: none;
			cursor: pointer;
			margin-left: 768px;
			margin-top: -39px;
		}

		.buttonen:hover {
			font-weight: bolder;
		}

	.centraltext {
		margin-left: auto;
		margin-right: auto;
		margin-top: 110px;
	}


		.h2 {
			font-size: 18px;
			font-weight: 600;
			color: white;
			text-align: center;
		}

		.h1 {
			font-family: 'Playfair Display', serif;
			font-size: 60px;
			font-weight: normal;
			color: white;
			text-align: center;
			margin-top: 10px
		}


.section2 {
	height: 360px;
	width: auto;
}
	.ilustration1 {
		margin-left: -280px;
		margin-top: -50px;
	}

	.textblock1{
		margin-top: 110px;
		width: 880px;
	}

		.titlesection{
			font-size: 14px;
			font-weight: bold;
			color: #1F3A35;
			opacity: 0.3;
			text-align: center;
		}

		.titletext{
			font-size: 26px;
			font-weight: bold;
			color: #1F3A35;
			margin-top: 26px;
			text-align: center;
		}

		.textdescription {
			font-size: 20px;
			color: #1F3A35;
			margin-top: 26px;
			text-align: center;
		}


.section3 {
	height: 380px;
}

	.box1 {
		width: 380px;
		height: 380px;
		border-radius: 10px;
		background-color: #557A69;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	}

		.titleblock1{
			font-size: 18px;
			font-weight: bold;
			color: #ffffff;
			opacity: 0.3;
			margin-left: 38px;
			margin-top: 38px;
		}

		.lineblock1 {
			width: 18.5px;
			height: 2px;
			border-bottom: 2px solid #ffffff;
			opacity: 0.3;
			margin-left: 36px;
		}

		.titlebox1 {
			margin-top: -28px;
			margin-left: 86px;
			color: #ffffff;
			font-size: 14px;
			letter-spacing: 1px;
			font-weight: bold;
		}

		.textbox1 {
			width: 253px;
			margin-top: 24px;
			margin-left: 86px;
			color: #ffffff;
			font-size: 14px;
			letter-spacing: 1px;
		}

	.box2 {
		width: 380px;
		height: 380px;
		border-radius: 10px;
		background-color: #557A69;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		margin-left: 39px;
	}

		.titleblock2{
			font-size: 18px;
			font-weight: bold;
			color: #ffffff;
			opacity: 0.3;
			margin-left: 38px;
			margin-top: 38px;
		}

		.lineblock2 {
			width: 18.5px;
			height: 2px;
			border-bottom: 2px solid #ffffff;
			opacity: 0.3;
			margin-left: 36px;
		}

		.titlebox2 {
			margin-top: -26px;
			margin-left: 86px;
			color: #ffffff;
			font-size: 14px;
			letter-spacing: 1px;
			font-weight: bold;
		}

		.textbox2 {
			width: 253px;
			margin-top: 24px;
			margin-left: 86px;
			color: #ffffff;
			font-size: 14px;
			letter-spacing: 1px;
		}

	.box3 {
		width: 380px;
		height: 380px;
		border-radius: 10px;
		background-color: #557A69;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		margin-left: 39px;
	}

		.titleblock3{
			font-size: 18px;
			font-weight: bold;
			color: #ffffff;
			opacity: 0.3;
			margin-left: 38px;
			margin-top: 38px;
		}

		.lineblock3 {
			width: 18.5px;
			height: 2px;
			border-bottom: 2px solid #ffffff;
			opacity: 0.3;
			margin-left: 36px;
		}

		.titlebox3 {
			margin-top: -26px;
			margin-left: 86px;
			color: #ffffff;
			font-size: 14px;
			letter-spacing: 1px;
			font-weight: bold;
		}

		.textbox3 {
			width: 253px;
			margin-top: 24px;
			margin-left: 86px;
			color: #ffffff;
			font-size: 14px;
			letter-spacing: .5px;
		}


.section4 {
	height: 588px;
}

	.textblocksection4 {
		width: 611px;
		margin-left: 110px;
		margin-top: 110px;
	}

		.linesection4 {
			width: 18.5px;
			height: 2px;
			border-bottom: 2px solid #1F3A35;
			opacity: 0.3;
		}

		.titlesection4 {
			font-size: 14px;
			font-weight: bold;
			color: #1F3A35;
			opacity: 0.3;
			margin-left: 28px;
			margin-top: -11px;
		}

		.titletextsection4 {
			font-size: 26px;
			font-weight: bold;
			color: #1F3A35;
			margin-top: 32px;
		}

		.textdescriptionsection4 {
			font-size: 16px;
			color: #1F3A35;
			margin-top: 28px;
		}

	.photoprofile1 {
		width: auto;
		height: 480px;
		margin-left: 818px;
		margin-top: -435px;
	}


.section5 {
	height: 317px;
	background-color: #E5B44D;
}

	.textblocksection5 {
		width: 885px;
		margin-top: 70px;
	}

		.titletextsection5{
			font-size: 26px;
			font-weight: bold;
			color: #ffffff;
			text-align: center;
			margin-bottom: 30px;
		}

		.textdescription5 {
			font-size: 20px;
			color: #ffffff;
			text-align: center;
			margin-bottom: 40px;
		}

		.buttonsection5 {
			width: 240px;
			height: 40px;
			font-size: 14px;
			letter-spacing: 1px;
			font-weight: bold;
			color: #E5B44D;
			background-color: white;
			border-radius: 5px;
			border: none;
			cursor: pointer;
		}

		.buttonsection5:hover {
			background-color: #D57938;
			color: #ffffff;
			border-radius: 5px;
		}


.footer {
	height: 332px;
}

		.menufooter1 {
			width: 175px;
			margin-left: 90px;
			margin-top: 87px;

		}

			.titlemenufooter1 {
				font-size: 14px;
				font-weight: bold;
				color: #1F3A35;
				margin-bottom: 30px;
			}

				.buttomhomefooter {
					font-size: 14px;
					color: #1F3A35;
					margin-bottom: 20px;
					cursor: pointer;
				}

				.buttomhomefooter:hover {
					color: #E5B44D;
					font-weight: bold;
				}

				.buttomservicesfooter {
					font-size: 14px;
					color: #1F3A35;
					margin-bottom: 20px;
					cursor: pointer;
				}

				.buttomservicesfooter:hover {
					color: #E5B44D;
					font-weight: bold;
				}

				.buttomportfoliofooter {
					font-size: 14px;
					color: #1F3A35;
					margin-bottom: 20px;
					cursor: pointer;
				}

				.buttomportfoliofooter:hover {
					color: #E5B44D;
					font-weight: bold;
				}

				.buttomaboutfooter {
					font-size: 14px;
					color: #1F3A35;
					margin-bottom: 20px;
					cursor: pointer;
				}

				.buttomaboutfooter:hover {
					color: #E5B44D;
					font-weight: bold;
				}

				.buttomcontactfooter {
					font-size: 14px;
					color: #1F3A35;
					margin-bottom: 20px;
					cursor: pointer;
				}

				.buttomcontactfooter:hover {
					color: #E5B44D;
					font-weight: bold;
				}

		.menufooter2 {
			width: 320px;
			margin-left: 320px;
			margin-top: -244px;
		}

			.titlemenufooter2 {
				font-size: 14px;
				font-weight: bold;
				color: #1F3A35;
				margin-bottom: 20px;
			}

				.igicon {
					width: 32px;
					height: 32px;
					cursor: pointer;
				}

				.fbicon {
					width: 32px;
					height: 32px;
					cursor: pointer;
					margin-left: 12px;
				}

				.emailfooter {
					border: none;
					background: none;
					font-size: 14px;
					letter-spacing: 1px;
					font-weight: bold;
					color: #E5B44D;
					cursor: pointer;
					margin-top: -32px;
					margin-left: 100px;
					position: absolute;
				}

			.titlemenufooter3 {
				font-size: 14px;
				font-weight: bold;
				color: #1F3A35;
				margin-top: 26px;
			}

				.textmenufooter3 {
					font-size: 14px;
					color: #1F3A35;
					margin-top: 20px;
					margin-bottom: 16px;
				}

				.emailform {
					width: 200px;
					border: none;
					border-bottom: 1px solid #1F3A35;
					color: #1F3A35;
				}

				.buttomsendemailform {
					border: none;
					background: none;
					color: #E5B44D;
					font-weight: bold;
					letter-spacing: 1px;
					cursor: pointer;
					margin-left: 10px;
				}

				.arrowemailfooter {
					cursor: pointer;
					margin-left: 290px;
					margin-top: -20px;
				}

				.arrowemailfooter:hover {
					margin-left: 295px;
				}

		.logofooter {
			width: 295px;
			height: auto;
			margin-left: 492px;
			margin-top: -124px;
			position: absolute;
		}

		.ilustrationfooter {
			margin-left: 492px;
			margin-top: -326px;
		}