.header-container {
  z-index: 999;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;

  .navbar-container {
    max-width: 1024px;
    margin: auto;
    height: 80px;
  }
}

.btn-tog {
  padding-top: 15px;
  color: #ffffff;
}

.items {
  padding: 15px;
  font-size: 12px;
  color: #ffffff;
  margin: 1px;

  &:hover {
    border-radius: 5px;
    border: 1px solid #ffffff;
    margin: 0;
  }

  &:hover, &:active, &:visited:hover {
    color: #ffffff !important;
    text-decoration: none !important;
  }
}

.nav-link {
  margin-left: -20px;
  color: #ffffff !important;

  .logo {
    width: 174px;
    height: 70px;
  }
}

.language-container {
  margin-left: 3px;

  .language {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    color: #ffffff;

    &:hover {
      font-weight: bold;
    }
  }
}

.nav-item {
  line-height: initial;
}